<section class="container mx-auto py-8">
  <div class="grid grid-cols-4 gap-4">
    <!-- Replace the image URLs with your own image URLs -->
    <div class="col-span-1 bg-gray-100 aspect-w-1 aspect-h-1">
      <img src="/images/chuanmau-gallery-1.jpg" alt="Image 1" class="object-cover object-center w-full h-full" />
    </div>
    <div class="col-span-1 bg-gray-100 aspect-w-1 aspect-h-1">
      <img src="/images/chuanmau-gallery-2.jpg" alt="Image 2" class="object-cover object-left w-full h-full" />
    </div>
    <div class="col-span-1 bg-gray-100 aspect-w-1 aspect-h-1">
      <img src="/images/chuanmau-gallery-3.jpg" alt="Image 3" class="object-cover object-left w-full h-full" />
    </div>
    <div class="col-span-1 bg-gray-100 aspect-w-1 aspect-h-1">
      <img src="/images/chuanmau-gallery-4.jpg" alt="Image 4" class="object-cover object-center w-full h-full" />
    </div>
  </div>
</section>
